.clip-element {
	display: grid;
	grid-template-areas: 'clip-display';
	position: relative;

	background-color: rgba(255, 255, 255, 0.1);
	background-image: url('../assets/thumbnail-placeholders/thumbnail-placeholder-512x288.gif');
	background-size: cover;

	width: auto;
	height: 0;
	padding-bottom: calc(56.25% - 9px);
	border-radius: 4px;
	overflow: hidden;

	font-family: 'Roboto Condensed', Roboto, sans-serif;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 0.375px;
	text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.8);

	user-select: none;
}

.clip-element--label {
	grid-area: clip-display;
	display: block;
	position: absolute;
	height: auto;
	line-height: 1.14em;
	padding: 4px;
	width: 100%;
	z-index: 1;
}

.clip-element--label::before {
	content: ' ';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	background-color: black;
	-webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
	mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
}

.clip-element--thumbnail {
	grid-area: clip-display;
	width: 100%;
	margin: 0;
	padding: 0;
	user-select: none;
	pointer-events: none;
}

.clip-element--duration {
	grid-area: clip-display;
	position: absolute;
	display: block;
	top: auto;
	left: auto;
	text-align: right;
	bottom: 10px;
	right: 4px;
	line-height: 1.14em;
	width: auto;
	border-radius: 3px;
	margin: 0;
	color: #fff;
	text-shadow: 1px 1px 1px #000, -1px -1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000,
		0px 0px 5px #000;
	font-family: Roboto, sans-serif;
	font-weight: 300;
}

.clip-element--label.bts::before {
	background: var(--bts-background);
}
.clip-element--label.stk::before {
	background: var(--stk-background);
}

.clip-element--label.vb::before {
	background: var(--vb-background);
}

.clip-element--label.vignett::before {
	background: var(--vignett-background);
}

.clip-element--label.super::before {
	background: var(--super-background);
}
