.clip-element {
	display: grid;
	grid-template-areas: 'clip-display';
	position: relative;

	background-color: rgba(255, 255, 255, 0.1);
	background-image: url('../assets/thumbnail-placeholders/thumbnail-placeholder-512x288.gif');
	background-size: cover;

	width: auto;
	height: 0;
	padding-bottom: calc(56.25% - 9px);
	border-radius: 4px;
	overflow: hidden;

	font-family: 'Roboto Condensed', Roboto, sans-serif;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 0.375px;
	text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.8);

	user-select: none;
}

.clip-element--label {
	background-color: black;
	grid-area: clip-display;
	position: absolute;
	height: 2.28em;
	line-height: 1.14em;
	padding: 4px;
	width: 100%;
}

.clip-element--thumbnail {
	grid-area: clip-display;
	width: 100%;
	margin: 0;
	padding: 0;
	user-select: none;
	pointer-events: none;
}

.clip-element--label.bts {
	background: var(--bts-background);
}
.clip-element--label.stk {
	background: var(--stk-background);
}

.clip-element--label.vb {
	background: var(--vb-background);
}

.clip-element--label.vignett {
	background: var(--vignett-background);
}

.clip-element--label.super {
	background: var(--super-background);
}
