body {
	background-color: #252627;
	background-image: radial-gradient(100% 100% at 49.92% 0%, #2b2b2b 29.18%, #0e0e0e 99.99%);
	background-size: contain;
	background-repeat: no-repeat;
	color: #fff;

	padding: 0 20px 40px;
}

/** reset some stuff **/
fieldset {
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}
