.search-form .form-input {
	background: transparent;
	color: inherit;

	border: 1px solid #666666;
	box-sizing: border-box;
	box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.5);
	border-radius: 14.5px;

	padding: 6px 12px;
}

.category-toggle input {
	opacity: 0;
	width: 0;
	height: 0;
}
